.menu__title{
    text-align: center;
    max-width: 100%;
}

.menu-list__item{
    position: relative;
    background: var(--brown);
    border-radius: 30px;
    width: 297px;
    padding: 90px 40px 25px 40px;
    color: var(--white);
}

.menu-list__item__preview{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-list__item__label{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
}

.menu-list__item__descr{
    margin-top: 15px;
    color: var(--gray);
    font-size: 14px;
}

.menu-list__item-sizes{
    display: flex;
    justify-content: center;
}

.menu-list__item-sizes__item:not(:first-child){
    margin-left: 48px;
}

.menu-list__item-sizes{
    margin-top: 15px;
}

.menu-list__item-sizes__item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
    font-size: 14px;
    transition: 0.4s;
    cursor: pointer;
}

.menu-list__item-sizes__item.active{
    background: var(--orange-gradient);
    border: none;
    color: var(--white);
}

.menu-list__item-sizes__item:not(.active):hover{
    border-color: var(--orange-dark);
    background: var(--orange-dark);
    color: var(--white);
}

.menu-list__item-actions__item{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
    font-size: 14px;
    transition: 0.4s;
    cursor: pointer;
}

.menu-list__item-actions__item:hover{
    border-color: var(--orange-dark);
    background: var(--orange-dark);
    color: var(--white);
}

.menu-list__item-actions{
    display: flex;
    align-items: center;
}

.menu-list__item-actions__item__value{
    margin: 0px 10px;
    color: var(--gray);
}

.menu-list__item__price{
    font-weight: 500;
    font-size: 25px;
}

.menu-list__item-actions-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.menu-list__item__button{
    margin-top: 15px;
    width: 100%;
}

.menu-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -22px;
    margin-top: 20px;
}

.menu-list__item{
    margin-left: 22px;
    margin-top: 80px;
}

.menu__banner{
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 286px;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-weight: 700;
    font-size: 43px;
    text-transform: uppercase;
    margin-top: 30px;
    transition: 0.4s;
    text-align: center;
}

.menu__banner:hover{
    color: var(--orange-dark)
}

.menu__banner:hover .menu__banner__preview{
    transform: scale(1.1);
}

.menu__banner__preview{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.4s;
}

@media(max-width: 768px){
    .menu__banner{
        font-size: 32px;
        height: 200px;
    }
}

@media(max-width: 540px){
    .menu__banner{
        font-size: 24px;
    }
}