.footer{
    padding: 30px 0px;
    background: #100600;
}

.footer-contacts__item{
    transition: 0.4s;
    color: var(--orange-light);
}

.footer-contacts__item:hover{
    color: var(--orange-dark);
}

.footer-contacts__item:not(:first-child){
    margin-top: 15px;
}

.footer-contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 540px){
    .footer-contacts__item{
        font-size: 14px;
    }

    .footer__logo img{
        width: 130px;
        height: 27;
    }
}